In [1]:
import sqlite3

In [3]:
con = sqlite3.connect("data/portal_mammals.sqlite")
cur = con.cursor()

for row in cur.execute("SELECT * FROM species"):
    print(row)
    
con.close()

('AB', 'Amphispiza', 'bilineata', 'Bird')
('AH', 'Ammospermophilus', 'harrisi', 'Rodent')
('AS', 'Ammodramus', 'savannarum', 'Bird')
('BA', 'Baiomys', 'taylori', 'Rodent')
('CB', 'Campylorhynchus', 'brunneicapillus', 'Bird')
('CM', 'Calamospiza', 'melanocorys', 'Bird')
('CQ', 'Callipepla', 'squamata', 'Bird')
('CS', 'Crotalus', 'scutalatus', 'Reptile')
('CT', 'Cnemidophorus', 'tigris', 'Reptile')
('CU', 'Cnemidophorus', 'uniparens', 'Reptile')
('CV', 'Crotalus', 'viridis', 'Reptile')
('DM', 'Dipodomys', 'merriami', 'Rodent')
('DO', 'Dipodomys', 'ordii', 'Rodent')
('DS', 'Dipodomys', 'spectabilis', 'Rodent')
('DX', 'Dipodomys', 'sp.', 'Rodent')
('EO', 'Eumeces', 'obsoletus', 'Reptile')
('GS', 'Gambelia', 'silus', 'Reptile')
('NL', 'Neotoma', 'albigula', 'Rodent')
('NX', 'Neotoma', 'sp.', 'Rodent')
('OL', 'Onychomys', 'leucogaster', 'Rodent')
('OT', 'Onychomys', 'torridus', 'Rodent')
('OX', 'Onychomys', 'sp.', 'Rodent')
('PB', 'Chaetodipus', 'baileyi', 'Rodent')
('PC', 'Pipilo', 'chlorurus', 'Bird')
('PE', 'Peromyscus', 'eremicus', 'Rodent')
('PF', 'Perognathus', 'flavus', 'Rodent')
('PG', 'Pooecetes', 'gramineus', 'Bird')
('PH', 'Perognathus', 'hispidus', 'Rodent')
('PI', 'Chaetodipus', 'intermedius', 'Rodent')
('PL', 'Peromyscus', 'leucopus', 'Rodent')
('PM', 'Peromyscus', 'maniculatus', 'Rodent')
('PP', 'Chaetodipus', 'penicillatus', 'Rodent')
('PU', 'Pipilo', 'fuscus', 'Bird')
('PX', 'Chaetodipus', 'sp.', 'Rodent')
('RF', 'Reithrodontomys', 'fulvescens', 'Rodent')
('RM', 'Reithrodontomys', 'megalotis', 'Rodent')
('RO', 'Reithrodontomys', 'montanus', 'Rodent')
('RX', 'Reithrodontomys', 'sp.', 'Rodent')
('SA', 'Sylvilagus', 'audubonii', 'Rabbit')
('SB', 'Spizella', 'breweri', 'Bird')
('SC', 'Sceloporus', 'clarki', 'Reptile')
('SF', 'Sigmodon', 'fulviventer', 'Rodent')
('SH', 'Sigmodon', 'hispidus', 'Rodent')
('SO', 'Sigmodon', 'ochrognathus', 'Rodent')
('SS', 'Spermophilus', 'spilosoma', 'Rodent')
('ST', 'Spermophilus', 'tereticaudus', 'Rodent')
('SU', 'Sceloporus', 'undulatus', 'Reptile')
('SX', 'Sigmodon', 'sp.', 'Rodent')
('UL', 'Lizard', 'sp.', 'Reptile')
('UP', 'Pipilo', 'sp.', 'Bird')
('UR', 'Rodent', 'sp.', 'Rodent')
('US', 'Sparrow', 'sp.', 'Bird')
('ZL', 'Zonotrichia', 'leucophrys', 'Bird')
('ZM', 'Zenaida', 'macroura', 'Bird')

In [4]:
import pandas as pd
con = sqlite3.connect("data/portal_mammals.sqlite")

df = pd.read_sql_query("SELECT * FROM surveys", con)

con.close()

In [5]:
df.head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN

In [11]:
import pandas as pd


with sqlite3.connect("data/portal_mammals.sqlite") as con:
    df = pd.read_sql_query("SELECT * FROM surveys INNER JOIN species " +
                       "ON surveys.species_id = species.species_id", con)

In [8]:
df

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight,species_id,genus,species,taxa
0,1,7,16,1977,2,NL,M,32.0,NaN,NL,Neotoma,albigula,Rodent
1,2,7,16,1977,3,NL,M,33.0,NaN,NL,Neotoma,albigula,Rodent
2,3,7,16,1977,2,DM,F,37.0,NaN,DM,Dipodomys,merriami,Rodent
3,4,7,16,1977,7,DM,M,36.0,NaN,DM,Dipodomys,merriami,Rodent
4,5,7,16,1977,3,DM,M,35.0,NaN,DM,Dipodomys,merriami,Rodent
5,6,7,16,1977,1,PF,M,14.0,NaN,PF,Perognathus,flavus,Rodent
6,7,7,16,1977,2,PE,F,NaN,NaN,PE,Peromyscus,eremicus,Rodent
7,8,7,16,1977,1,DM,M,37.0,NaN,DM,Dipodomys,merriami,Rodent
8,9,7,16,1977,1,DM,F,34.0,NaN,DM,Dipodomys,merriami,Rodent
9,10,7,16,1977,6,PF,F,20.0,NaN,PF,Perognathus,flavus,Rodent
10,11,7,16,1977,5,DS,F,53.0,NaN,DS,Dipodomys,spectabilis,Rodent
11,12,7,16,1977,7,DM,M,38.0,NaN,DM,Dipodomys,merriami,Rodent
12,13,7,16,1977,3,DM,M,35.0,NaN,DM,Dipodomys,merriami,Rodent
13,14,7,16,1977,8,DM,None,NaN,NaN,DM,Dipodomys,merriami,Rodent
14,15,7,16,1977,6,DM,F,36.0,NaN,DM,Dipodomys,merriami,Rodent
15,16,7,16,1977,4,DM,F,36.0,NaN,DM,Dipodomys,merriami,Rodent
16,17,7,16,1977,3,DS,F,48.0,NaN,DS,Dipodomys,spectabilis,Rodent
17,18,7,16,1977,2,PP,M,22.0,NaN,PP,Chaetodipus,penicillatus,Rodent
18,19,7,16,1977,4,PF,None,NaN,NaN,PF,Perognathus,flavus,Rodent
19,20,7,17,1977,11,DS,F,48.0,NaN,DS,Dipodomys,spectabilis,Rodent
20,21,7,17,1977,14,DM,F,34.0,NaN,DM,Dipodomys,merriami,Rodent
21,22,7,17,1977,15,NL,F,31.0,NaN,NL,Neotoma,albigula,Rodent
22,23,7,17,1977,13,DM,M,36.0,NaN,DM,Dipodomys,merriami,Rodent
23,24,7,17,1977,13,SH,M,21.0,NaN,SH,Sigmodon,hispidus,Rodent
24,25,7,17,1977,9,DM,M,35.0,NaN,DM,Dipodomys,merriami,Rodent
25,26,7,17,1977,15,DM,M,31.0,NaN,DM,Dipodomys,merriami,Rodent
26,27,7,17,1977,15,DM,M,36.0,NaN,DM,Dipodomys,merriami,Rodent
27,28,7,17,1977,11,DM,M,38.0,NaN,DM,Dipodomys,merriami,Rodent
28,29,7,17,1977,11,PP,M,NaN,NaN,PP,Chaetodipus,penicillatus,Rodent
29,30,7,17,1977,10,DS,F,52.0,NaN,DS,Dipodomys,spectabilis,Rodent
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34756,35519,12,31,2002,9,DM,M,37.0,49.0,DM,Dipodomys,merriami,Rodent
34757,35520,12,31,2002,9,SF,None,24.0,36.0,SF,Sigmodon,fulviventer,Rodent
34758,35521,12,31,2002,9,DM,M,37.0,48.0,DM,Dipodomys,merriami,Rodent
34759,35522,12,31,2002,9,DM,F,35.0,45.0,DM,Dipodomys,merriami,Rodent
34760,35523,12,31,2002,9,DM,F,36.0,44.0,DM,Dipodomys,merriami,Rodent
34761,35524,12,31,2002,9,PB,F,25.0,27.0,PB,Chaetodipus,baileyi,Rodent
34762,35525,12,31,2002,9,OL,M,21.0,26.0,OL,Onychomys,leucogaster,Rodent
34763,35526,12,31,2002,8,OT,F,20.0,24.0,OT,Onychomys,torridus,Rodent
34764,35527,12,31,2002,13,DO,F,33.0,43.0,DO,Dipodomys,ordii,Rodent
34765,35528,12,31,2002,13,US,None,NaN,NaN,US,Sparrow,sp.,Bird
34766,35529,12,31,2002,13,PB,F,25.0,25.0,PB,Chaetodipus,baileyi,Rodent
34767,35530,12,31,2002,13,OT,F,20.0,NaN,OT,Onychomys,torridus,Rodent
34768,35531,12,31,2002,13,PB,F,27.0,NaN,PB,Chaetodipus,baileyi,Rodent
34769,35532,12,31,2002,14,DM,F,34.0,43.0,DM,Dipodomys,merriami,Rodent
34770,35533,12,31,2002,14,DM,F,36.0,48.0,DM,Dipodomys,merriami,Rodent
34771,35534,12,31,2002,14,DM,M,37.0,56.0,DM,Dipodomys,merriami,Rodent
34772,35535,12,31,2002,14,DM,M,37.0,53.0,DM,Dipodomys,merriami,Rodent
34773,35536,12,31,2002,14,DM,F,35.0,42.0,DM,Dipodomys,merriami,Rodent
34774,35537,12,31,2002,14,DM,F,36.0,46.0,DM,Dipodomys,merriami,Rodent
34775,35538,12,31,2002,15,PB,F,26.0,31.0,PB,Chaetodipus,baileyi,Rodent
34776,35539,12,31,2002,15,SF,M,26.0,68.0,SF,Sigmodon,fulviventer,Rodent
34777,35540,12,31,2002,15,PB,F,26.0,23.0,PB,Chaetodipus,baileyi,Rodent
34778,35541,12,31,2002,15,PB,F,24.0,31.0,PB,Chaetodipus,baileyi,Rodent
34779,35542,12,31,2002,15,PB,F,26.0,29.0,PB,Chaetodipus,baileyi,Rodent
34780,35543,12,31,2002,15,PB,F,27.0,34.0,PB,Chaetodipus,baileyi,Rodent
34781,35544,12,31,2002,15,US,None,NaN,NaN,US,Sparrow,sp.,Bird
34782,35545,12,31,2002,15,AH,None,NaN,NaN,AH,Ammospermophilus,harrisi,Rodent
34783,35546,12,31,2002,15,AH,None,NaN,NaN,AH,Ammospermophilus,harrisi,Rodent
34784,35547,12,31,2002,10,RM,F,15.0,14.0,RM,Reithrodontomys,megalotis,Rodent
34785,35548,12,31,2002,7,DO,M,36.0,51.0,DO,Dipodomys,ordii,Rodent